html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 238, 224);
    font-family: "Kaisei Decol", serif;
    font-size: 100%;
}

header {
    height: 85px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}

.logo {
    height: 60px;
    width: auto;
}

.header-menu {
    margin: 0;
    padding: 0;

    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-menu li {
    margin: 0px;
}

.btn {
    border: 3px double #000000;
    border-radius: 10px;
    padding: 5px;
}

.header-padding {
    padding-top: 5px;
}

.main-visual {
    background-image: url("../images/background.jpg");
    min-height: calc(100vh - 85px);
    background-size: cover;
}

.main-visual p {
    font-size: 4rem;
    text-align: center;
    padding-top: 200px;
    margin: 0px;
    color: #fff;
}

.get-started {
    font-family: "Kaisei Decol", serif;
    display: block;
    margin: 50px auto 0;
    font-size: 1rem;
}

.app-explanation {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 0rem 5rem;
    gap: 10rem;
    height: 600px;
}

.explanation-left {
    margin-top: 100px;
}

.explanation-right {
    margin-top: 50px;
}

.image-main,
.image-sub {
    filter: grayscale(100%);
    border-radius: 35px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.image-stack {
    position: relative;
    /* 中の画像をabsoluteで動かすため */
    width: 400px;
    /* 好きな幅（％でもOK） */
    max-width: 100%;
}

.image-main,
.image-sub {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 30px;
    /* 角丸はお好みで */
}

/* 下にドンと構える大きい画像 */
.image-main {
    position: relative;
    z-index: 1;
}

/* 上に少しずらして重ねる小さい画像 */
.image-sub {
    position: absolute;
    right: -40px;
    /* 右にずらす量 */
    bottom: -40px;
    /* 下にずらす量 */
    width: 65%;
    /* メインより小さく */
    z-index: 2;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    /* 影つけるとそれっぽい */
}


.explanation-h1 {
    font-size: 3rem;
    margin: 0px;
}

.fukidashi-01-05 {
    position: relative;
    width: fit-content;
    padding: 12px 16px;
    border-bottom: 2px solid #333333;
    font-size: 3rem;
}

.fukidashi-01-05::before {
    content: "";
    position: absolute;
    left: -24px;
    bottom: -13px;
    width: 30px;
    height: 2px;
    transform: rotate(-50deg);
    box-sizing: border-box;
    background-color: #333333;
}

.fukidashi-01-05::after {
    content: "";
    position: absolute;
    left: -23px;
    bottom: -28px;
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    /* 背景色と同じ色を指定 */
    border-radius: 50%;
    background-color: #333333;
}

.explanation-p {
    margin-top: 50px;
    font-size: 1.4rem;
    line-height: 1.7em;
}