html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 238, 224);
    font-family: "Kaisei Decol", serif;
    font-size: 100%;
}

header {
    height: 85px;
    background: #fff;
    font-size: 1rem;
}

.logo {
    float: left;
    height: 60px;
    width: auto;
    padding: 15px;
}

.header-menu {
    margin: 0;
    padding: 0;
}

.header-menu li {
    list-style: none;
    float: right;
    margin: 30px 70px 0px 0px;
}

.btn {
    border: 3px double #000000;
    border-radius: 10px;
    padding: 5px;
}

.header-padding {
    padding-top: 5px;
}

.main-visual {
    background-image: url("../images/background.jpg");
    min-height: calc(100vh - 85px);
    background-size: cover;
}

.main-visual p {
    font-size: 4rem;
    text-align: center;
    padding-top: 200px;
    margin: 0px;
    color: #fff;
}

.get-started {
    font-family: "Kaisei Decol", serif;
    display: block;
    margin: 50px auto 0;
    font-size:1rem;
}