body {
    background-color: rgb(250, 238, 224);
    padding: 0px;
    margin: 0px;
}

.logo {
    float: left;
    height: 100px;
    width: auto;
    padding: 40px;
}

.header-menu {
    margin: 0px;
}

.header-menu li {
    list-style: none;
    float: right;
    margin: 70px 70px 0px 0px;
}

.btn {
    border: 2px double #000000;
    border-radius: 10px;
    padding: 5px;
}

.header-padding {
    padding-top: 5px;
}

header h2 {
    clear: both;
}