html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 238, 224);
    font-family: "Kaisei Decol", serif;
    font-size: 100%;
}

header {
    height: 85px;
    background: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;          
    justify-content: space-between; 
    padding: 0px 40px;
}

.logo {
    height: 60px;
    width: auto;
}

.header-menu {
    margin: 0;
    padding: 0;

    list-style: none;        
    display: flex;              
    align-items: center;
    gap: 40px;
}

.header-menu li {
    margin:0px;
}

.btn {
    border: 3px double #000000;
    border-radius: 10px;
    padding: 5px;
}

.header-padding {
    padding-top: 5px;
}

.main-visual {
    background-image: url("../images/background.jpg");
    min-height: calc(100vh - 85px);
    background-size: cover;
}

.main-visual p {
    font-size: 4rem;
    text-align: center;
    padding-top: 200px;
    margin: 0px;
    color: #fff;
}

.get-started {
    font-family: "Kaisei Decol", serif;
    display: block;
    margin: 50px auto 0;
    font-size:1rem;
}

.app-explanation{
    height: 300px;
}